* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 78px;
    background: #11101d;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo-content .logo {
    color: aliceblue;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.sidebar.active .logo-content .logo {
    pointer-events: none;
    opacity: 1;
}

.logo-content .logo i {
    font-size: 39px;
    margin-right: 5px;
}

.logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 500;
}

.sidebar #btn {
    color: aliceblue;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
}

.sidebar ul li .tooltip {
    position: absolute;
    top: 0;
    left: 122px;
    height: 35px;
    width: 122px;
    transform: translateY(-50%, -50%);
    border-radius: 6px;
    line-height: 20px;
    text-align: center;
    background: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: white;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: antiquewhite;
    font-size: 22px;
    transition: all0.5s ease;
}

.sidebarul li .bx-search:hover {
    background: white;
    color: #1d1b31;
}

.sidebar ul li a {
    border-radius: 12px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: aliceblue;
    background-color: #11101d;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

.home-content {
    margin-left: 50vw;
}